:root {
    --accent--color: #e50914;
    --secondary--color: white;
    --accordion-padding: 2rem;
    --accordion-padding-right: 6rem;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--secondary--color);
}


body {
    font-family: sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    font-size: 62.7%;
    color: var(--secondary--color);
}

a {
    color: var(--secondary--color);
}

a:active,
a:link,
a:visited {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
}

.section_break {
    border: 4.2px solid grey;
}

button {
    background: transparent;
    border: none;
    color: var(--secondary--color);
}

.header {
    position: absolute;
    height: 7rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0 1rem;

}

.Netflix_logo {
    display: block;
    width: 11rem;
    padding: 0 1rem;
    font-size: 2rem;
}

.Netflix_logo>img {
    height: 100%;
    width: 100%;
}

.accent--btn {
    background-color: var(--accent--color);
    text-transform: capitalize;
    padding: 0.7rem 1.7rem;
    line-height: normal;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}


.overlay_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65vh;
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0,
            rgba(0, 0, 0, 0.8) 40%,
            rgba(0, 0, 0, 0.4) 75%,
            rgba(0, 0, 0, 1) 100%);
    z-index: 10;
}


.banner__section {
    height: 550px;
    min-height: 30rem;
}

.banner {
    max-width: 100vw;
    height: 64vh;
    object-fit: cover;
    object-position: center;
    z-index: 5;
}

.bannerHero {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 2rem 4rem 2rem;
    justify-content: center;
    padding: 7.5rem 0 2rem;
    z-index: 15;
    max-width: 60rem;

}

.banner_title {
    font-size: 3rem;
    font-weight: 700;
}

.restart_btn {
    padding: 1.2rem 2.4rem;
    font-size: 2.4rem;
    margin: 2.5rem 0 0;
    vertical-align: text-top;
    min-height: 3.5rem
}

.banner_msg {
    font-size: 1.6rem;
    margin-bottom: 0;
    font-weight: 600;
    margin: 1rem 0 0;
}


.pop_box {
    background: radial-gradient(120.35% 220% at 49.86% -6.29%, #e50914 0%, #0e1b4f 46.15%, #0d1121 100%);
    display: block;
    margin-right: 24px;
    margin-left: 24px;
    padding: 30px;
    margin-top: -5rem;
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 1);
    font-weight: 500;
    z-index: 15;
    position: absolute;
}

.pop_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;

}

.pop_msg {
    font-size: 16px;
    line-height: 24px;
    margin: 0.5rem 0;
}

.pop_button {
    cursor: pointer;
    color: #448ef4;
}

.pop_corn {
    transform: scale(0.8);
    margin-top: -80px;
    margin-left: -40px;
    -webkit-transform: scale(0.8);

}

.pop_button {
    cursor: pointer;
    color: #448ef4;
    font-size: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    font-weight: 500;
    background: none;
    border: none;
    text-decoration: underline;
    padding: 0;
}


.goodies_about {
    padding: 5rem 2rem;
    display: grid;
    grid-row-gap: 1rem;
    max-width: 1800px;
    margin: 0 auto;
}

.goodies_about__left {
    text-align: center;
}

.EnjoymentTV {
    text-align: center;
    margin-top: 12rem;
    padding-bottom: 0rem;
}

.EnjoymentTV>h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.EnjoymentTV>h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

.goodies_about__left h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;

}

.goodies_about__left h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

.goodies_about__right {
    display: grid;
    place-items: center;
}

.tv_container {
    width: 30rem;
    height: 23.4rem;
    position: relative;
}

.tv_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.tv_video {
    position: absolute;
    top: 0.8rem;
    left: 4rem;
    width: 22.1rem;
    height: 21rem;
}

.tv_video1 {
    position: absolute;
    top: -3rem;
    left: 5rem;
    right: 20rem;
    width: 19rem;
    height: 21rem
}

.stranger_container img {
    width: 100%;
    height: 100%;
}

.stranger_container {
    position: relative;
}

.stranger_motion_container {
    display: grid;
    grid-template-columns: 4rem 1fr 5rem;
    width: 60%;
    height: 8rem;
    padding: 1rem;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    background: black;
}

.stranger_motion_container .stranger_img_flyer {
    height: 90%;
}

.stranger_motion_container .download_gif {
    height: 90%;
}

.stranger_motion_container .stranger_text_container .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.stranger_motion_container .stranger_text_container .downloading {
    font-size: 1.2rem;
    color: #0071eb;
}

.stranger_motion_container .stranger_text_container {
    padding-left: 2rem;
}

.cuties_img {
    width: 100%;
}

.faq {
    padding: 5rem 2rem;
    margin: 0 auto;
}

.faq_title {
    text-align: center;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 700;
}

.accordion__list {
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-row-gap: 0.8rem;
    font-size: 1.9rem;
}



.accordion__question {
    background-color: #303030;
    display: block;
    width: 100%;
    text-align: left;
    padding: var(--accordion-padding);
    padding-right: var(--accordion-padding-right);
    margin-bottom: 1px;
    font-size: inherit;
    position: relative;
    cursor: pointer;
}

.accordion__question:after {
    content: "+";
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--accordion-padding-right);
    text-align: center;
    font-size: 3rem;
}

.accordion.active .accordion__question:after {
    content: "-";
}

.accordion__answer {
    background-color: #303030;
    padding: var(--accordion-padding);
    display: none;
}

.accordion.active .accordion__answer {
    display: block;
}

.footer {
    padding: 0rem 3rem 4rem;
    margin: 0 auto;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1;
}

.footer__link__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.footer__link {
    font-size: 1.3rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link.contact--link {
    display: inline-block;
    margin: 2rem 0 3rem 0;
}

@media screen and (min-width: 500px) {
    .banner {
        height: 50vh;
    }

    .overlay_background {
        height: 50vh;
    }

    .banner__section,
    .pops,
    .rBtn {
        display: flex;
        justify-content: center;
    }

    .bannerHero {
        margin-top: 15rem;
    }

    .EnjoymentTV h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .EnjoymentTV h2 {
        font-size: 2.2rem;
    }

    .tv_container {
        width: 50rem;
        height: 38rem;
    }

    .tv_video {
        top: 3.5rem;
        left: 6.6rem;
        width: 37rem;
        height: 29.5rem;
    }

    .tv_video1 {
        top: -0.9rem;
        left: 9.2rem;
        width: 32rem;
        height: 28.5rem;
    }

    .faq_title {
        font-size: 3.5rem;
    }

    .footer__link__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__link {
        font-size: 1.5rem;
    }

    .pop_box {
        display: flex;
        padding: 22px;
        width: 600px;
        background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
        margin-top: 0.1rem;
    }

    .pop_corn {
        justify-content: left;
        margin-top: 0;
        margin-left: 0;
    }

}

@media screen and (min-width: 900px) {
    .banner__section {
        height: auto;
        width: auto;
    }

    .banner {
        height: 51vh;
    }

    .bannerHero {
        max-width: 100rem;
        justify-content: center;
        margin-top: 22rem;
    }

    .overlay_background {
        height: 52vh;
    }


    .banner_title {
        font-size: 5rem;
        font-weight: 800;
    }

    .banner_msg {
        font-size: 2rem;
    }

    .pop_box {
        margin-top: -7rem;
    }


    .goodies_about {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .goodies_about__left,
    .EnjoymentTV {
        text-align: left;
    }

    .accordion__list {
        font-size: 3rem;
    }

    .footer__link__container {
        grid-template-columns: repeat(4, 1fr);
    }
}